<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="../js/config.js"></script>
    <script src="../src/jquery.min.js"></script>
    <link rel="stylesheet" href="../src/bootstrap.min.css">
    <link rel="stylesheet" href="../css/activity.css">
    <title>活动</title>
</head>
<body class="activity">
    <div class="search-box">
        <form class="text-center">
            <input class="form-control" type="text" placeholder="你想要的装备都在这里">
        </form>
    </div>
    <div class="activity-list">
        <div class="activity-item">
            <div class="item-img">
                <a href="activity-info.html">
                    <img src="../images/activity-large.jpg" alt="">
                    <span></span>
                </a>
            </div>
            <div class="item-goodslist">
                <div class="goods-item">
                    <img src="../images/activity-item.jpg" alt="">
                    <p class="goodsname">Titlist小黄球</p>
                    <p class="goodsprice">￥805</p>
                </div>
                <div class="goods-item">
                    <img src="../images/activity-item2.jpg" alt="">
                    <p class="goodsname">Titlist小黄球</p>
                    <p class="goodsprice">￥805</p>
                </div>
                <div class="goods-item">
                    <img src="../images/activity-item3.jpg" alt="">
                    <p class="goodsname">Titlist小黄球</p>
                    <p class="goodsprice">￥805</p>
                </div>
                <div class="goods-item">
                    <img src="../images/activity-item4.jpg" alt="">
                    <p class="goodsname">Titlist小黄球</p>
                    <p class="goodsprice">￥805</p>
                </div>
                <div class="goods-item">
                    <img src="../images/activity-item5.jpg" alt="">
                    <p class="goodsname">Titlist小黄球</p>
                    <p class="goodsprice">￥805</p>
                </div>
                <div class="goods-item">
                    <div class="more">

                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="activity-item">
            <div class="item-img">
                <a href="#">
                    <img src="../images/acitvity-large2.jpg" alt="">
                    <span></span>
                </a>
            </div>
            <div class="item-goodslist">
                <div class="goods-item">
                    <img src="../images/activity-item.jpg" alt="">
                    <p class="goodsname">Titlist小黄球</p>
                    <p class="goodsprice">￥805</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>