<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="../js/config.js"></script>
    <script src="../src/swiper.min.js"></script>
    <link rel="stylesheet" href="../src/swiper.min.css">
  <script src="../src/jquery.min.js"></script>
    <link rel="stylesheet" href="../src/bootstrap.min.css">
    <link rel="stylesheet" href="../css/adress.css">
    <title>收货地址</title>
</head>
<body class="adress">
    <div class="adress-add text-center">
        <a href="add-adress.html">
            添加收货地址
        </a>
    </div>
    <div class="adress-list">
        <div class="adress-item">
            <div class="item-msg">
                <div class="msg-user row">
                    <div class="pull-left user-name">张三</div>
                    <div class="pull-right user-phone">14791286530</div>
                </div>
                <p class="msg-adress">
                    湖北省，武汉市，江汉区范湖广场3号楼701
                </p>
            </div>
            <div class="item-operate row">
                <div class="pull-left">
                    <input type="checkbox">设为默认地址
                </div>
                <div class="pull-right">
                    <a class="update-adress" href="#">编辑</a>
                    <a class="dele-adress" href="#" >删除</a>
                </div>
            </div>
        </div>

        <div class="adress-item">
            <div class="item-msg">
                <div class="msg-user row">
                    <div class="pull-left user-name">张三</div>
                    <div class="pull-right user-phone">14791286530</div>
                </div>
                <p class="msg-adress">
                    湖北省，武汉市，江汉区范湖广场3号楼701
                </p>
            </div>
            <div class="item-operate row">
                <div class="pull-left">
                    <input type="checkbox">设为默认地址
                </div>
                <div class="pull-right">
                    <a class="update-adress" href="#">编辑</a>
                    <a class="dele-adress" href="#" >删除</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>