<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="../js/config.js"></script>
<script src="../src/jquery.min.js"></script>
    <link rel="stylesheet" href="../src/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bill.css">
    <title>增值税发票信息</title>
</head>
<body class="bill">
    <form action="" class="bill-form">
        <div class="bill-top">
            <div class="top-company input-item">
                <p class="text-center">单位名称:</p><!--
                --><input type="text" placeholder="请输入单位名称">
            </div>
            <div class="top-usernumb input-item">
                <p class="text-center">纳税人识别码:</p><!--
                --><input type="text" placeholder="请输入纳税人识别号">
            </div>
            <div class="top-newadress input-item">
                <p class="text-center">注册地址:</p><!--
                --><input type="text" placeholder="请输入注册地址">
            </div>
            <div class="top-newphone input-item">
                <p class="text-center">注册电话:</p><!--
                --><input type="number" placeholder="请输入注册电话">
            </div>
            <div class="top-bank input-item">
                <p class="text-center">开户银行:</p><!--
                --><input type="text" placeholder="请输入开户银行">
            </div>
            <div class="top-banknumber input-item">
                <p class="text-center">银行账户:</p><!--
                --><input type="number" placeholder="请输入银行账户">
            </div>
        </div>
        <div class="bill-down">
            <div class="down-username input-item">
                <p class="text-center">收件人姓名:</p><!--
                --><input type="text" placeholder="请输入收件人姓名">
            </div>
            <div class="down-phone input-item">
                <p class="text-center">联系电话:</p><!--
                --><input type="number" placeholder="请输入联系电话">
            </div>
            <div class="down-adress input-item">
                <p class="text-center">邮寄地址:</p><!--
                --><input type="text" placeholder="请输入邮寄地址">
            </div>
        </div>
        <div class="bill-btn text-center">
            <a href="#">保存</a>
        </div>
    </form>
</body>
</html>