<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="../js/config.js"></script>
    <script src="../src/jquery.min.js"></script>
    <link rel="stylesheet" href="../src/bootstrap.min.css">
    <link rel="stylesheet" href="../css/goodslist.css">
    <title>商品列表</title>
</head>
    <body class="goodslist">
       <div class="head">
           <div class="search-box">
               <form class="text-center">
                   <input class="form-control" type="text" placeholder="你想要的装备都在这里">
               </form>
           </div>
           <div class="goods-tab">
               <span>综合</span>
               <span>销量</span>
               <span>价格</span>
               <span id="change">筛选</span>
           </div>
       </div>
        <div class="goods">

            <div class="goods-content">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 good-item">
                        <img src="../images/goods-item.png" alt="" class="img-responsive">
                        <div class="goods-msg">
                            <p class="msg-title">Titleist金属杆系列</p>
                            <div class="row msg-price" >
                                <div class="pull-left price-guest">￥17763</div>
                                <div class="pull-right price-member">
                                    <span class="member-text">会员</span>
                                    <span class="member-price">￥1777</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 good-item">
                        <img src="../images/goods-item2.png" alt="" class="img-responsive">
                        <div class="goods-msg">
                            <p class="msg-title">Titleist金属杆系列</p>
                            <div class="row msg-price" >
                                <div class="pull-left price-guest">￥17763</div>
                                <div class="pull-right price-member">
                                    <span class="member-text">会员</span>
                                    <span class="member-price">￥1777</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 good-item">
                        <img src="../images/goods-item3.png" alt="" class="img-responsive">
                        <div class="goods-msg">
                            <p class="msg-title">Titleist金属杆系列</p>
                            <div class="row msg-price" >
                                <div class="pull-left price-guest">￥17763</div>
                                <div class="pull-right price-member">
                                    <span class="member-text">会员</span>
                                    <span class="member-price">￥1777</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 good-item">
                        <img src="../images/goods-item4.jpg" alt="" class="img-responsive">
                        <div class="goods-msg">
                            <p class="msg-title">Titleist金属杆系列</p>
                            <div class="row msg-price" >
                                <div class="pull-left price-guest">￥17763</div>
                                <div class="pull-right price-member">
                                    <span class="member-text">会员</span>
                                    <span class="member-price">￥1777</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 good-item">
                        <img src="../images/goods-item4.jpg" alt="" class="img-responsive">
                        <div class="goods-msg">
                            <p class="msg-title">Titleist金属杆系列</p>
                            <div class="row msg-price" >
                                <div class="pull-left price-guest">￥17763</div>
                                <div class="pull-right price-member">
                                    <span class="member-text">会员</span>
                                    <span class="member-price">￥1777</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 good-item">
                        <img src="../images/goods-item4.jpg" alt="" class="img-responsive">
                        <div class="goods-msg">
                            <p class="msg-title">Titleist金属杆系列</p>
                            <div class="row msg-price" >
                                <div class="pull-left price-guest">￥17763</div>
                                <div class="pull-right price-member">
                                    <span class="member-text">会员</span>
                                    <span class="member-price">￥1777</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="change row">
            <div class="transp col-xs-3 col-sm-3"></div>
            <div class="form col-xs-9 col-sm-9">
                <form action="">
                    <div class="title  text-center">筛选</div>
                    <div class="change-term">
                        <div class="term-price">
                            <p class="term-title">价格区间</p>
                            <div class="row">
                                <div class="col-xs-5 col-sm-5 input">
                                    <input type="text" class="form-control" placeholder="最低">
                                </div>
                                <div class="col-xs-1 col-sm-1">_</div>
                                <div class="col-xs-5 col-sm-5 input">
                                    <input type="text" class="form-control" placeholder="最高">
                                </div>
                            </div>
                        </div>
                        <div class="term-type">
                            <p class="term-title">
                                类别
                            </p>
                            <div class="">
                                <span class=" type-item">全部</span>
                                <span class=" type-item">高球</span>
                                <span class=" type-item">服饰</span>
                                <span class=" type-item">球鞋</span>
                                <span class=" type-item">球包</span>
                                <span class=" type-item">配件</span>
                                <span class=" type-item">球杆</span>
                                <span class=" type-item">练习器</span>
                            </div>
                        </div>
                        <div class="term-brand">
                            <p class="term-title">品牌</p>
                            <div class="row text-center">
                                <span class="col-xs-6 col-sm-6 brand-item">NIKE</span>
                                <span class="col-xs-6 col-sm-6 brand-item">ADiADS</span>
                                <span class="col-xs-6 col-sm-6 brand-item">LINING</span>
                                <span class="col-xs-6 col-sm-6 brand-item">SENGMA</>
                            </div>
                        </div>
                    </div>
                    <div class="change-btn">
                        <button type="reset" class="btn btn-default btn-reast">重置</button>
                        <button class="btn btn-warning btn-finish">完成</button>
                    </div>
                </form>
            </div>
        </div>

    <script>
        $(function () {
            $("#change").click(function () {
                $(".change").css({"left":0,"position":'fixed'});
                $(".transp").css("background","rgba(0,0,0,.5)")
            });
            $(".transp").click(function () {
                $(".change").css({"left":"100%"});
            })
        })
    </script>
    </body>
</html>