<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="../js/config.js"></script>
    <script src="../src/swiper.min.js"></script>
    <link rel="stylesheet" href="../src/swiper.min.css">
<script src="../src/jquery.min.js"></script>
    <link rel="stylesheet" href="../src/bootstrap.min.css">
    <link rel="stylesheet" href="../css/order-finish.css">
    <title>订单完成</title>
</head>
<body class="order-finish">
    <div class="head text-center">
        <div class="head-title">
            <img src="../images/order-finish.png" alt="">
            订单完成！
        </div>
        <p class="head-content">
            订单已完成，我们回尽快把商品送到您的手上。
            可以通过应用市场下载“普利荟”APP查看订单信息。
        </p>
    </div>
    <div class="order-msg">
        <p class="msg-numb">  订单编号:789621489633333</p>
        <p class="msg-price">  支付金额:￥500</p>
        <p class="msg-code">  积分抵扣:200</p>
    </div>
    <div class="finish-btn text-center">
        返回首页
    </div>
</body>
</html>